In [1]:
import os
import sys

In [2]:
os.environ['SPARK_HOME']='C:/Users/Ju/Downloads/spark-2.0.2-bin-hadoop2.7'

In [3]:
sys.path.append('C:/Users/Ju/Downloads/spark-2.0.2-bin-hadoop2.7/bin')
sys.path.append('C:/Users/Ju/Downloads/spark-2.0.2-bin-hadoop2.7/python')
sys.path.append('C:/Users/Ju/Downloads/spark-2.0.2-bin-hadoop2.7/python/pyspark')
sys.path.append('C:/Users/Ju/Downloads/spark-2.0.2-bin-hadoop2.7/python/lib')
sys.path.append('C:/Users/Ju/Downloads/spark-2.0.2-bin-hadoop2.7/python/lib/pyspark.zip')
sys.path.append('C:/Users/Ju/Downloads/spark-2.0.2-bin-hadoop2.7/python/lib/py4j-0.10.3-src.zip')
sys.path.append('C:/Java/bin')

In [4]:
from pyspark import SparkContext
from pyspark import SparkConf
#import pyspark

In [5]:
print(os.environ['SPARK_HOME'])

C:/Users/Ju/Downloads/spark-2.0.2-bin-hadoop2.7

In [6]:
#Création du sparkcontext représentant la connexion avec le cluster
#Crée automatiquement lorsque qu'on utilise en shell
#local => permet à spark de run sur la machine local on one thread sans connexion à un cluster
#App name => permet d'idendifier l'application sur l'interface de manage du cluster
sc = SparkContext("local", "App Name2")

#conf = SparkConf().setMaster("local").setAppName("My App")
#sc = SparkContext(conf = conf)

In [7]:
print(sc)

<pyspark.context.SparkContext object at 0x000000000459E9B0>

In [8]:
#creation d'un RDD avec les lignes du fichier texte => external dataset
#autre methode => distribuant une collection d'objet (list - set ...)
lines = sc.textFile("C:\Users\Ju\Downloads\spark-2.0.2-bin-hadoop2.7\TEST.md")
print(lines)

C:\Users\Ju\Downloads\spark-2.0.2-bin-hadoop2.7\TEST.md MapPartitionsRDD[1] at textFile at null:-2

In [9]:
#first item in this RDD
#First line in readme
lines.first()

u'12/09/1987,150,rfgergerg'

In [20]:
lines_del = lines.map(lambda line: line.split(','))
lines_del.take(5)
print(type(lines))

<class 'pyspark.rdd.RDD'>

In [11]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
df = sqlContext.createDataFrame(lines_del)

In [31]:
df.printSchema()
print(df)

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)

DataFrame[_1: string, _2: string, _3: string]

In [13]:
df.registerTempTable("table")
df_sql = sqlContext.sql("SELECT _1, _2 FROM table")
df_sql.collect()

[Row(_1=u'12/09/1987', _2=u'150'),
 Row(_1=u'12/09/1987', _2=u'150'),
 Row(_1=u'13/09/1987', _2=u'1512'),
 Row(_1=u'13/09/1987', _2=u'11510'),
 Row(_1=u'14/09/1987', _2=u'11351640')]

In [14]:
df_sql = sqlContext.sql("SELECT _1, _3, COUNT(DISTINCT _2) as Count_2 FROM table GROUP BY _1, _3")
df_sql.collect()

[Row(_1=u'14/09/1987', _3=u'rfgergerg', Count_2=1),
 Row(_1=u'12/09/1987', _3=u'rfgergerg', Count_2=1),
 Row(_1=u'13/09/1987', _3=u'rfgergerg', Count_2=2)]

In [15]:
print(type(df_sql))

<class 'pyspark.sql.dataframe.DataFrame'>

In [16]:
df_sql.toPandas().to_csv('mycsv.csv',index=False)

In [17]:
print(df_sql.toPandas())

           _1         _3  Count_2
0  14/09/1987  rfgergerg        1
1  12/09/1987  rfgergerg        1
2  13/09/1987  rfgergerg        2
<class 'pyspark.sql.dataframe.DataFrame'>

In [32]:
#RDD to Spark DataFrame
sparkDF = lines.map(lambda x: str(x)).map(lambda w: w.split(',')).toDF()
#Spark DataFrame to Pandas DataFrame
pdsDF = sparkDF.toPandas()
#df_sql.save('mycsv2.csv', 'com.databricks.spark.csv')
#df_sql.saveAsTextFile('mycsv2.csv')
#df_sql.write.csv('mycsv3.csv')
print(type(sparkDF))
print(type(pdsDF))
print(sparkDF)

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
DataFrame[_1: string, _2: string, _3: string]

In [33]:
sparkDF.registerTempTable("table2")
df_sql2 = sqlContext.sql("SELECT _1, _3, COUNT(DISTINCT _2) as Count_2 FROM table2 GROUP BY _1, _3")
df_sql2.collect()

[Row(_1=u'14/09/1987', _3=u'rfgergerg', Count_2=1),
 Row(_1=u'12/09/1987', _3=u'rfgergerg', Count_2=1),
 Row(_1=u'13/09/1987', _3=u'rfgergerg', Count_2=2)]

In [34]:
print(sparkDF)

DataFrame[_1: string, _2: string, _3: string]

In [35]:
import StringIO
import csv

def writeRecords(records):
    output = StringIO.StringIO()
    writer = csv.DictWriter(output,fieldnames=["1","2"])
    for record in records:
        writer.writerow(record)
    return [output.getvalue()]

#df_rdd = df_sql.rdd
#finalRdd = doStuff(df_sql)
#test = lines.count()
#test.saveAsTextFile('test2')
#df_sql.mapPartitions(writeRecords).saveAsTextFile('Test.txt',True)
#mapPartitions(writeRecords)
#df_sql.write.format("csv").save("test2.csv")

In [36]:
 #df_rdd.save('test.csv','parquet')
df_sql.write.format("com.databricks.spark.csv")#.save("test.csv")

In [37]:
#number of items in RDD
#opération lancé sur le cluster
lines.count()

5

In [44]:
print(lines.collect())

[u'12/09/1987,150,rfgergerg', u'12/09/1987,150,rfgergerg', u'13/09/1987,1512,rfgergerg', u'13/09/1987,11510,rfgergerg', u'14/09/1987,11351640,rfgergerg']

In [45]:
#filter
pythonlines = lines.filter(lambda line:"1987" in line)

In [46]:
#Pour un RDD à réutiliser => persist() 
#En pratique utilisé pour conserver un sous ensemble de données en mémoire
pythonlines.persist()

PythonRDD[99] at RDD at PythonRDD.scala:48

In [47]:
pythonlines.count()

5

In [48]:
pythonlines.first()

u'12/09/1987,150,rfgergerg'

In [49]:
#Exemple de creation RDD sans external data
#NB: utilisé que pour learning spark
#Necessite d'avoir la donnée sur la machine
#RDD1
lines = sc.textFile("C:\Users\Ju\Downloads\spark-2.0.2-bin-hadoop2.7\README.md")
#RDD2
lines2 = sc.parallelize({'pandas','i like pandas'})

In [50]:
#Transformation => implique une cration d'un RDD (exemple filter())
#Action => implique un resultat (exmple first())

In [51]:
#Exemple de transformation et donc création de RDD
pythonlines = lines.filter(lambda line:"Python" in line)
apachelines = lines.filter(lambda line:"Apache" in line)
pythapachelines = pythonlines.union(apachelines)

In [52]:
print("Input had", pythapachelines.count() , "concerning lines" )
for line in pythapachelines.take(5):
    print(line)

('Input had', 5, 'concerning lines')
high-level APIs in Scala, Java, Python, and R, and an optimized engine that
## Interactive Python Shell
Alternatively, if you prefer Python, you can use the Python shell:
# Apache Spark
Spark is built using [Apache Maven](http://maven.apache.org/).

In [53]:
#Pour l'exemple. A ne pas utiliser dans un cadre BIG DATA §§§§
pythapachelines.collect()

[u'high-level APIs in Scala, Java, Python, and R, and an optimized engine that',
 u'## Interactive Python Shell',
 u'Alternatively, if you prefer Python, you can use the Python shell:',
 u'# Apache Spark',
 u'Spark is built using [Apache Maven](http://maven.apache.org/).']

In [54]:
#Transformation map and filter
nums = sc.parallelize([10,1,2,3,4])
squared = nums.map(lambda x:x*x).collect()
print(squared)

[100, 1, 4, 9, 16]

In [55]:
#Map: appliqué au 1er element => le retourne sous la forme d'un element
words = lines2.map(lambda line:line.split(" "))
words.first()

['i', 'like', 'pandas']

In [56]:
#flatMap: appliqué au 1er element => retourne sous la forme de plusieurs
#notion d'iterateur
words = lines2.flatMap(lambda line:line.split(" "))
words.first()

'i'

In [57]:
#quelques transformations
lines2 = sc.parallelize({'pandas','i like pandas','pandas'})
lines3 = lines2.distinct()
lines3.collect()

['i like pandas', 'pandas']

In [58]:
lines3 = lines2.union(lines2)
lines3.collect()

['i like pandas', 'pandas', 'i like pandas', 'pandas']

In [59]:
lines3 = lines2.intersection(lines2)
lines3.collect()

['i like pandas', 'pandas']

In [60]:
lines3 = lines2.subtract(lines2)
lines3.collect()

[]

In [61]:
#toutes les paires possible
#très chere en ressoruce
lines3 = lines2.cartesian(lines2)
lines3.collect()

[('i like pandas', 'i like pandas'),
 ('i like pandas', 'pandas'),
 ('pandas', 'i like pandas'),
 ('pandas', 'pandas')]

In [62]:
#sample(withreplacement,fraction,seed)
lines3 = lines2.sample(False,0.5,42)
lines3.collect()

['i like pandas']

In [63]:
#Actions sur RDD
sum = nums.reduce(lambda x,y:x+y)
print(sum)

20

In [64]:
#collect - count - countByValue
nums.countByValue()

defaultdict(int, {1: 1, 2: 1, 3: 1, 4: 1, 10: 1})

In [65]:
nums.take(2)
#return a list

[10, 1]

In [66]:
nums.top(2)
#top num elements

[10, 4]

In [67]:
#plus petit elements
nums.takeOrdered(2)

[1, 2]

In [68]:
#sample en terme de nombre
#ici ne retourne pas un rdd cotrainrement à transformation sample
nums.takeSample(True,2,42)

[1, 3]

In [69]:
#reduce permet de combiner des elements en parallel
nums.reduce(lambda x,y:x+y)

20

In [70]:
#reduce permet de combiner des elements en parallel
from operator import add
nums.fold(0,add)

20

In [71]:
seqOp = (lambda x, y: (x[0] + y, x[1] + 1))
combOp = (lambda x, y: (x[0] + y[0], x[1] + y[1]))
nums.aggregate((0, 0), seqOp, combOp)

(20, 5)

In [72]:
#Chapitre 5 key/value pairs
#creation d'un rdd avec systeme clé valeur
pairs = lines.map(lambda x:(x.split(" ")[0],x))
pairs.take(3)

[(u'#', u'# Apache Spark'),
 (u'', u''),
 (u'Spark',
  u'Spark is a fast and general cluster computing system for Big Data. It provides')]

In [73]:
#Transformation sur rdd pairs
nums2 = sc.parallelize({("1",2),("4",4),("3",6),("3",61)})

In [74]:
nums2.reduceByKey(lambda x,y:x+y).collect()

[('1', 2), ('3', 67), ('4', 4)]

In [75]:
nums2.groupByKey().collect()

[('1', <pyspark.resultiterable.ResultIterable at 0x814d828>),
 ('3', <pyspark.resultiterable.ResultIterable at 0x81785f8>),
 ('4', <pyspark.resultiterable.ResultIterable at 0x8178f98>)]

In [76]:
nums2.mapValues(lambda x:x+1).collect()

[('3', 62), ('3', 7), ('4', 5), ('1', 3)]

In [77]:
x = sc.parallelize([("a", ["x", "y", "z"]), ("b", ["p", "r"])])
def f(x): return x
x.flatMapValues(f).collect()

[('a', 'x'), ('a', 'y'), ('a', 'z'), ('b', 'p'), ('b', 'r')]

In [78]:
x.keys().collect()

['a', 'b']

In [79]:
x.values().collect()

[['x', 'y', 'z'], ['p', 'r']]

In [80]:
x.sortByKey().collect()

[('a', ['x', 'y', 'z']), ('b', ['p', 'r'])]

In [81]:
#subtractByKey - join -rightOuterJoin - leftOuterJoin - cogroup
result = pairs.filter(lambda keyvalue:len(keyvalue[1])>20)
result.first()

(u'Spark',
 u'Spark is a fast and general cluster computing system for Big Data. It provides')

In [82]:
#per key average
#clé - nb tot - poids
nums2.mapValues(lambda x:(x,1)).reduceByKey(lambda x,y:(x[0]+y[0],x[1]+y[1])).collect()

[('1', (2, 1)), ('3', (67, 2)), ('4', (4, 1))]

In [83]:
#combineByKey

In [84]:
nums2.sortByKey(ascending = True,numPartitions = None, keyfunc= lambda x:str(x)).collect()

[('1', 2), ('3', 61), ('3', 6), ('4', 4)]

In [85]:
#Actions
nums2.countByKey()

defaultdict(int, {'1': 1, '3': 2, '4': 1})

In [86]:
nums2.lookup('3')

[61, 6]

In [87]:
nums2.partitionBy(100)

MapPartitionsRDD[180] at mapPartitions at PythonRDD.scala:422

In [88]:
#Hivecontext
#Utilisation des tables de Apache Hive
#copier hive-site.xml dans le repertoire spark ./conf/
from pyspark.sql import HiveContext

In [43]:
#HiveCtx = HiveContext(sc)
#rows = hive("SELECT name, age FROM users")
#firstRow = rows.first()
#print(firstRow.name)

#Si json
#tweets = hiveCtx.jsonfile("tweets.json")
#tweets.registerTempTable("tweets")
#results = hiveCtx.sql("SELECT name, age FROM tweets")